@use'mixin' as m;

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-block: 150px 50px;

    .modal-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 700px;
        max-height: 80vh;
        /* 画面の80%以内 */
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin-inline:10px;
        

        .modal-title {
            font-size: 24px;
            flex-shrink: 0;
            /*縮まないようにする*/
            margin-block: 30px;
        }

        .modal-content {
            text-align: left;

            overflow-y: auto;
            /* この部分だけ縦スクロールできる */
            padding-right: 10px;
            /* スクロールバーのための余白 */
        }
    }

}